@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    font-size: 50px;
    margin-bottom: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 75px;
    height: 75px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 5px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.btn:disabled {
    color: #000;
    cursor: no-drop;
}

.result-container {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #fff;
    text-align: center;
    max-width: 200px;
    margin: 20px;
    padding: 10px;
}

.result {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 25px;
}

.reset-section {
    text-align: center;
    margin-top: 20px;
}

.reset {
    border: 2px solid #000;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.reset:hover {
    background-color: #000;
    color: #fff;
}

.reset:disabled {
    cursor: no-drop;
}